.App {
	margin: auto;
	width: 70%;
}
/* Navbar styling */
.navbar {
	align-items: center;
	background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
	display: flex;
	justify-content: flex-start;
}
.navbar p {
	cursor: pointer;
	font-weight: 100px;
	padding: 10px;
}
.navbar ul {
	display: flex;
	margin-left: 20%;
}
.navbar ul li {
	list-style-type: none;
	margin: 10px 40px;
	padding: 10px;
}
.navbar ul li:hover {
	border-bottom: 2px solid black;
}
.navbar ul li a {
	color: black;
	text-decoration: none;
}
/* Posts Section design */
.loading {
	align-items: center;
	display: flex;
	justify-content: center;
}
.error {
	color: red;
	padding: 5px;
	text-align: center;
}
.single-item {
	box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
	margin: 10px 10px;
	padding: 20px;
}
.post-top {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.post-title,
.post-user {
	margin: 3px 4px;
}
.post-title {
	font-size: 20px;
	font-weight: bold;
}
.post-description {
	line-height: 35px;
	margin: 5px;
	padding: 3px;
}
/* Create Post form */
.form-container {
	border-radius: 20px;
	box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
	justify-content: center;
	margin: 20px auto;
	max-width: 700px;
	min-height: 700px;
}
.form-container p {
	font-size: 25px;
	padding: 10px;
	text-align: center;
}
.form-group {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	margin: 10px;
	padding: 10px;
}
.form-group label {
	padding: 10px;
}
.form-group input {
	border-radius: 12px;
	font-size: 25px;
}
.form-group textarea {
	border-radius: 12px;
	font-size: 25px;
}
.btn {
	border-radius: 20px;
	display: block;
	font-size: 25px;
	margin: 20px auto;
	padding: 10px;
	width: 57%;
}
.form-container .message {
	color: green;
	padding: 10px;
	text-align: center;
}
.recentPost p {
	color: gray;
	font-size: 40px;
	text-align: center;
}
